:root {
  --vp-c-brand-1: #60b1f2;
  --vp-c-brand-2: #60b1f2;
  --vp-c-brand-3: #60b1f2;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #60b1f2,
    #ef84f1
  );
}
